/* assets/css/tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .box:not(.not-box) {
    @apply border border-slate-300 rounded-lg p-2 dark:border-slate-700;
  }
  .box-hover {
    @apply border-green-100 dark:border-green-700;
  }
  .card {
    @apply box bg-slate-100 dark:bg-slate-800;
  }
  .card-hover {
    @apply box-hover bg-green-500 bg-opacity-20;
  }
}

@layer base {
  html::selection {
  }
  html::-moz-selection {
    @apply bg-green-500;
  }
  input {
    @apply caret-green-500;
  }

  body {
    @apply bg-gray-50 text-sm text-gray-900 leading-6 pb-16 sm:pb-0;
  }

  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }

  .prose :not(.not-prose) {
    @apply break-words;
  }

  .prose blockquote {
    @apply p-4 my-4 rounded-md border-collapse border-l-2 border border-solid bg-gray-100 border-gray-200 hover:border-gray-300 break-words;
  }

  .prose :not(pre) > code {
    @apply bg-slate-200 p-1 rounded-md border border-dashed border-slate-300 hover:border-green-500 hover:bg-green-300;
  }
  .position-unset {
    position: unset;
  }
}

@layer base {
  .dark body {
    @apply bg-gray-900 text-gray-400;
  }
  .dark blockquote {
    @apply border-slate-100 bg-gray-900;
  }
}

@layer utilities {
  .prose {
    /* @apply text-gray-900; */
    max-width: unset;
  }
  .prose a {
    @apply text-sky-500;
  }

  pre code .line {
    white-space: pre-wrap;
  }

  .dark .prose blockquote {
    @apply bg-gray-800 border-gray-700 hover:border-gray-600;
  }

  .dark .prose :not(pre) > code {
    @apply bg-slate-800  border-slate-700 hover:border-green-300 hover:bg-green-950 hover:text-gray-500;
  }

  .prose
    :where(.prose > :first-child):not(
      :where([class~='not-prose'], [class~='not-prose'] *)
    )
    h1
    /* :first-child */ {
    @apply !text-3xl;
  }

  .dark .prose,
  .dark .prose h1,
  .dark .prose h2,
  .dark .prose h3,
  .dark .prose h4,
  .dark .prose h5,
  .dark .prose h6,
  .dark .prose blockquote,
  .dark .prose strong,
  .dark .prose p,
  .dark .prose *:not(pre) > code {
    @apply text-gray-400;
  }
}
